<h1><p><strong>Name:</strong> <%= @course.title.capitalize %> </h1>

<p><strong>Description:</strong> <%= @course.description.capitalize %> </p>

<p><strong>Rating:</strong> <%= @course.rating %> </p>